<div id ="header" style ={{
  background: "linear-gradient(rgba(27,52,63,0.41), #050708) 0 0/cover,url(/img/background-mma.jpg) center center no-repeat ",
  backgroundSize: "cover"
}}>
<div className="header-logo">
<img src = "./img/sportIcons/ufcLogo.png"/>
</div>


</div>
