$textfield:#f3f3f3;
$backgroundContent:#f6f6f6;
$red:#ff3658;
$darksideBlue:#0178ff;
$lightsideBlue:#32aeff;
$ptext:#797979;
$htext:#3c3c3c;
$border:#ebebeb;
$searchBG:#1e88f4;
$searchInputBG:#0472e3;
$boxshadowbtns: 0 2px 15px -3px #bfbfbf;
$cursive: 'Galada', cursive;
$san-serif:'Roboto', sans-serif;
$primaryButtonBG:  linear-gradient(to bottom, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
