<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
    !@section('title')
  </title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


<link rel="stylesheet" href="/css/main.css">

</head>
<body>

  @!section('notifications')





  <div class="app-container

  @!section('current-class')
  ">
    <section id ="left-menu">
      <div class="account-dropdown">
        <div class="logo"><i class="fab fa-typo3"></i></div>
        <div class="name">Joe Santos</div>
        <div class="icon">  <i class="fas fa-chevron-down"></i>  </div>
      </div>
      <div class="groups">
        <div class="group">
          <div class="title">Title</div>
          <ul>

            <li><a href="/logout">Logout</a></li>
            <li>link</li>
            <li>link</li>
          </ul>
        </div>
      </div>
    </section>
    <section id ="content-container">
      <div class="search-header">
        <div class="search-box">
          <input type="text" name="" value="">
          <div class="icon-section">
            <div class="noti">
              <i class="fas fa-bell"></i>
              <div class="noti-number ">
                9+
              </div>
            </div>
            <div class="comments">
              <i class="fas fa-comment"></i>
              <div class="noti-number">
                3
              </div>
            </div>
            <div class="user">
              <i class="fas fa-user"></i>
              <div class="noti-number active">
                3
              </div>
            </div>


          </div>
        </div>

      </div>
      <div class="content-area">
        @!section('content-area')
      </div>
    </section>
    <section id ="messenger">
      <div class="messenger-header">
        <div class="messenger-icon">
            <i class="fas fa-comments"></i>
        </div>
        <div class="title">
          Messenger
        </div>
        <div class="options-icon">
            <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <div class="users">
        <div class="users-container">
          <div class="user">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user active">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user active">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user active">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user active">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user active">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user active">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
          <div class="user active">
            <div class="user-img" style ="background: url('https://randomuser.me/api/portraits/women/47.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;border-radius: 50%;height: 30px;width: 30px;">
            </div>
            <div class="username">James Doe</div>
            <div class="conversation"><i class="fas fa-comment-dots"></i></div>
          </div>
        </div>
      </div>
      <div class="search">
        <input type="text" placeholder="Search">
      </div>
    </section>


    </div>
    <script src="/js/components/vendor.js"></script>
    <script src="/js/components/firstComp.js"></script>
</body>
</html>
